<template name='home'>
  <div class="container">
    <h3>Publications Demo</h3>

    <ul>
      <li>
        <a href="{{pathFor 'normal'}}">Normal Collection</a>
        <ul>
          <li><a href="{{pathFor 'normalClientBreakdown'}}">Client-side Breakdown</a></li>
          <li><a href="{{pathFor 'normalServerBreakdown'}}">Server-side Breakdown</a></li>
        </ul>
      </li>
      <li><a href="{{pathFor 'nullNameClient'}}">Null Named Collection on Client</a></li>
      <li><a href="{{pathFor 'nullNameServer'}}">Null Named Collection on Server</a></li>
    </ul>
  </div>
</template>
