<template name="nullNameClient">
  <div class="container">

    <h2>Null Name Client Collection</h2>

    <a href="{{pathFor 'home'}}">Back to Home</a>

    <div class="row">
      <div class="col-md-6">
        <h4>Client</h4>
        <ul>
          <li>Is Defined: <span class="label label-default">{{isClientDefined}}</span></li>
          <li>
            Collection Meteor.Methods (for 'Meteor.default_connection._methodHandlers'):
            <ul>
              {{#each clientCollectionMethodsKeys}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h4>Server</h4>
        <ul>
          <li>Is Defined: <span class="label label-default">{{isServerDefined}}</span></li>
          <li>
            Collection Meteor.Methods (for 'Meteor.default_server.method_handlers'):
            <ul>
              {{#each serverCollectionMethodsKeys}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
